<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.morgan.oschina.user">

    <application
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:name=".debug.UserDebugApplication"
        android:supportsRtl="true">
        <activity android:name=".debug.activity.UserDebugActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
