<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="net.morgan.oschina.search">

    <application
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:name=".debug.HomeDebugApplication"
        android:supportsRtl="true">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"/>
    </application>

</manifest>
